.custom-input-small,
.custom-input-medium,
.custom-input-large {
  /* Estilos comunes para todos los tamaños */
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.custom-input-small {
  width: 150px;
  height: 30px;
}

.custom-input-medium {
  width: 250px;
  height: 40px;
}

.custom-input-large {
  width: 350px;
  height: 50px;
}

/* Estilo para el input cuando está enfocado */
.custom-input-small:focus,
.custom-input-medium:focus,
.custom-input-large:focus {
    border: 2px solid #b9c0b6; /* Cambia el color del borde a azul cuando está enfocado */
    outline: none; /* Elimina el resaltado por defecto al enfocar el input */
}
.custom-input-small::placeholder,
.custom-input-medium::placeholder,
.custom-input-large::placeholder {
  color: #afaeae; /* Cambia el color del placeholder */
}