.main-container{
    display: grid;
    grid-template-columns: auto 3fr;
    grid-template-rows: 3rem 1fr;
    background-color: aqua;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    padding: 0;
}

.navigation-menu-container{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: blue;
    height: 100%;
    width: 100%;
}

.app-bar-container{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: red;
    width: 100%;
}

.content-container{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: green;
    height: 100%;
    width: 100%;
    padding-inline: 3rem;
    padding-block: 1.5rem;
}

.content-container > .info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: beige;
    border-radius: 5px;
}