.card {
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 20px;
  }
.textos{
  display: flex;
  justify-content: space-between; /* Espacio uniforme entre los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  margin-right: 20px;
}
.icono{
  margin-right: 10px;
}
  